// .moving_walls.hided > div > img {
//   /* opacity: 0; */
//   transform: scale(0);
//   transition: all 0.2s;
// }

// .moving_walls.show > div > img {
//   /* opacity: 1; */
//   transform: scale(2);
//   transition: all 0.9s;
// }

// .just_test1.hided > div > * {
//   opacity: 0;
//   filter: blur(5px);
//   transform: translateX(-1000px);
//   transition: all 0.5s;
// }

// .just_test1.show > div > * {
//   opacity: 1;
//   filter: blur(0);
//   transform: translateX(0);
//   transition: all 0.9s;
// }

// .just_test2.hided > div > * {
//   opacity: 0;
//   filter: blur(5px);
//   transform: translateX(1000px);
//   transition: all 0.5s;
// }

// .just_test2.show > div > * {
//   opacity: 1;
//   filter: blur(0);
//   transform: translateX(0);
//   transition: all 0.9s;
// }

.page_title.hided {
  opacity: 0;
  transform: translateY(-500px);
  transition: all 0.5s;
}

.page_title.showed {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s;
}

.page_title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  > div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    > div {
      //   max-width: 289px;
      //   width: 289px;
      max-height: 46px;
      height: 46px;
      margin-top: 128.63px;

      > span:nth-child(1) {
        color: #929292;
      }

      > span:nth-child(2) {
        color: #ff5b15;
      }
    }
  }
}
