.motion-x-50 {
  transform: translateX(50px);
  transition: transform 2s ease;
}
.motion-x-50.showed {
  transform: translateX(0px);
}

.motion-x-100 {
  transform: translateX(100px);
  transition: transform 2s ease;
}
.motion-x-100.showed {
  transform: translateX(0px);
}

.motion-y-50 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease, transform 2s ease;
}

.motion-y-50.showed {
  opacity: 1;
  transform: translateY(0px);
}

.motion-x-minus-50 {
  transform: translateX(-50px);
  transition: transform 2s ease;
}
.motion-x-minus-50.showed {
  transform: translateX(0px);
}

.motion-y-minus-50 {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 2s ease, transform 2s ease;
}

.motion-y-minus-50.showed {
  opacity: 1;
  transform: translateY(0px);
}

.scale-05 {
  opacity: 0;
  transform: scale(0.5);
  transition: transform 2s ease, opacity 2s ease;
}

.scale-05.showed {
  opacity: 1;
  transform: scale(1);
}
