html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

#scroll-container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
}
