.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 128px 0 29px;
}

.silver-cubes-container {
  position: relative;
  width: 100%;
  height: 1073px;

  .silver-cubes {
    position: absolute;
    top: 0;
    left: 0;
  }

  .overlay-text {
    position: absolute;
    top: 427px;
    left: 889px;
  }
}

.shining-sun-container {
  position: relative;
  width: 100%;
  height: 995px;

  .shining-sun {
    position: absolute;
    top: -265px;
    right: 0;
  }

  .overlay-text {
    position: absolute;
    top: 35%;
    left: 237px;
  }
}

.abstract-image-container {
  position: relative;
  width: 100%;
  height: 711px;

  .abstract-image {
    position: absolute;
    bottom: 0;
  }

  .overlay-text {
    position: absolute;
    top: 37%;
    left: 48%;
  }
}

.hairy-image-container {
  margin: 160px 0 90px;
  position: relative;
  width: 100%;
  height: 680px;

  .hairy-image {
    position: absolute;
    top: 16%;
    right: 135px;
  }

  .overlay-text {
    position: absolute;
    top: 20%;
    left: 240px;
  }
}
