@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-gmarket-sans-bold: "GmarketSansBold", sans-serif;
  --font-gmarket-sans-medium: "GmarketSansMedium", sans-serif;
  --font-gmarket-sans-light: "GmarketSansLight", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  font-family: var(--font-gmarket-sans-light);
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  margin: 0;
  padding: 0;
}

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}

.orange {
  color: #ff5b15;
}
